header.cover {
    background-position: 50% 70%;
}

header.cover h1.f-subheadline-l,
nav a.f3 {
    font-family: 'Bebas Neue', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header.cover h2 {
    line-height: 1.5;
}